/* This is the start of my css. */

body {
font-family: 'Oxygen', sans-serif;
font-size: 16px;
font-weight: 300;
margin: 0;
}


/* This is navigation area. */

nav {
    background-color: #f2b705;
}

nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #024873;
    font-weight: 700;
    display: block;
    padding: .8rem 2rem;
}

nav li.active a {
    background-color: #024873;
    color: #f2b705; 
}

nav a:hover {
    color: white; 
}